* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
}


/******************** nav ********************/

.menu {
    margin: 0;
}

ul.nav.navbar-nav.navbar-right {
    width: 35%;
    display: flex;
    color: #333;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: bold;
}


/******************** hero********************/

.hero {
    background-image: url(../img/taxi.jpg);
    background-position-y: -95em;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    background-size: 100%;
    align-items: center;
    justify-content: flex-end;
}

.btn-hero {
    width: 6.5em;
    margin-bottom: 1.5em;
    border: none;
    border-bottom: 2px solid #fff;
}

.detail-hero {
    width: 27vw;
    height: 52vh;
    padding: 2em 2em 0 3em;
    text-align: center;
    font-size: 1.2em;
}


/******************** informacion********************/

.info-labcar {
    font-size: 1.3em;
    padding-right: 9em;
}


/******************** conductor ********************/

.conductor {
    background-image: url(../img/conduce.jpg);
    background-position: 0em -14em;
    background-repeat: no-repeat;
    background-size: cover;
}

.driver {
    height: 75vh;
    background-color: rgba( 0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    padding: 0 4em;
    justify-content: center;
}


/******************** tarifas ********************/

#map {
    height: 50vh;
    padding: 2em;
}

#tarifa {
    font-size: 2.5em;
}

.cntr-map {
    border: 0.1em solid #fff;
    padding: 0.6em;
    width: 80%;
}

.form-control {
    border: #fff solid 0.1em;
}

.form-control:focus {
    box-shadow: none;
    border-color: white;
}

.form-control::placeholder {
    color: #fff;
}

.border-map {
    border: 0.2em solid #fff;
}

.bag-yellow {
    background: #f7b617;
}

.bag-white {
    background: #fff;
}

.font-white {
    color: #fff;
}

.font-gray {
    color: #2b2b2b;
}

.btn-send {
    font-weight: bold;
    border: none;
}

.pd {
    padding: 2.5em 3em;
}


/******************** footer ********************/

.pie-pagina {
    background: #2b2b2b;
}

.tag-footer {
    width: 9em;
    padding: 1em 0;
}

ul>li {
    list-style: none;
    padding: 0.5em 0;
}

.detail-footer {
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 767px) {
    a#logo {
        position: relative;
        right: 3em;
    }
    .pd {
        padding: 2em 1em;
    }
    .detail-footer {
        display: inline-block;
    }
    .driver {
        height: 60vh;
        padding: 0 5em 0 1em;
    }
    .conductor {
        background-position: 0em;
    }
    .detail-hero {
        width: 80vw;
        height: 50vh;
    }
    .hero {
        background-position: 0;
        height: 84vh;
    }
}
