div#map {
    width: 80%;
    height: 400px;
}

.bag-yellow {
    background: #f7b617;
}

.bag-white {
    background: #fff;
}
.bg-gray{
  background: #F8F8F8;
}
ul.nav.navbar-nav.navbar-right {
    padding: 10px;
}
.main {
    border: 1px solid #fff;
}

.bd-bootom {
    border-left: 1px solid #fff;
}

.icon {
    color: #fff;
}

.form-control::-webkit-input-placeholder {
    color: #fff;
}

.form-control:-moz-placeholder {
    color: #fff;
}

.form-control {
    color: #fff;
}

.form-control[placeholder] {
    color: #fff;
}

.dis-inline {
    display: inline-block;
    ;
}

.tarifa {
    padding: 20px 20px;
}

.borde-row {
    border: 2px #fff solid;
    border-radius: 20px;
    margin: 26px;
}

.conductor {
    height: 100vh;
    background-image: url("../img/conduce.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.driver {
    opacity: 0.5;
    background-color: gray;
    height: 508px;
    right: 0;
    position: absolute;
}

.portada, .informacion, .conductor, .tarifa {
    height: 508px;
}

.portada {
    background-image: url("../img/taxi.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
  position: absolute;
      right: 0;
      top: 35%;
      width: 504px;
      height: 355px;
}
.texto{
  /* line-height: 33px; */
padding: 0px;
font-size: 35px;
margin: 0;

}
.derecha{
  float: right !important;
}
.izquierda{
  float: left !important;
}
.menu {
    margin: 0;
    height: 71px;
}
